<div class="bg-white border border-gray-200 rounded-md p-5 hover:-translate-y-1 transition transform h-82">
  <div class="flex items-center justify-center">
    <img [src]="image" alt="Product Image" class="size-24 rounded-md mb-3" />
  </div>
  <h2 class="text-blue-700 text-lg font-semibold mb-1 line-clamp-1">{{ title }}</h2>
  <p class="text-gray-500 mb-2 line-clamp-2">Description: {{ description }}</p>
  <p class="mb-3">Price: {{ price }}</p>
  <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md transition">
    Add to Cart
  </button>
</div>